{% extends 'base.html'%}

{%  block title %} Home {% endblock %}

{%  block page %} Home {% endblock %}

{% block mainContent %}
<div class="col pt-2">
    <div class="row border">
        <div class="col-2">
            <img class="rounded-circle" src="./asserts/images/profile.jfif" alt="" height="50px">
        </div>
        <div class="col-9 col-sm-10 ">
            <input class="border-0 bg  form-control-lg my-3 w-100" type="text" placeholder="What's on your mind?">
            <div class="row pb-2 justify-content-between w-100">
                <div class="col-9 text-warning">
                    <span class="pe-3"><i class="fa-solid fa-image"></i></span>
                    <span class="pe-3"><i class="fa-solid fa-gift"></i></span>
                    <span class="pe-3"><i class="fa-solid fa-face-grin"></i></span>
                    <span class="pe-3"><i class="fa-solid fa-location-pin"></i></span>
                </div>
                <div class="col-3 col-sm-2  ">
                    <a class="text-decoration-none fs-6 fw-bold bg-warning py-1 px-3 rounded-pill"
                        href="#">Chirp</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Chirp 1 -->
    <div class="row mt-1 border d-flex  ">
        <div class="col-3 mt-2">
            <img class="rounded-circle" src="./asserts/images/profile.jfif" alt="" height="50px">
        </div>
        <div class="col-9 ">
            <div class="row d-flex justify-content-between align-items-center ps-1">
                <div class="col-10 pt-2 ">
                    <p><span class="fw-bold">Username</span> @userhandle . XXh</p>
                </div>
                <div class="col-1 me-2 ps-0">
                    <div><span><i class="fa-solid fa-ellipsis fs-5 py-3"></i></span></div>
                </div>
            </div>
            <div class="col">
                Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
                <br>
                <div class="row pt-4">
                    <div class="col"><span><i class="fa-solid fa-comment"></i></span></div>
                    <div class="col"><span><i class="fa-solid fa-retweet"></i></span>
                    </div>
                    <div class="col"><i class="fa-solid fa-heart"></i></div>
                    <div class="col"><span><i class="fa-solid fa-bookmark"></i></span></div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mt-1 border d-flex  ">
        <div class="col-3 mt-2">
            <img class="rounded-circle" src="./asserts/images/profile.jfif" alt="" height="50px">
        </div>
        <div class="col-9 ">
            <div class="row d-flex justify-content-between align-items-center ps-1">
                <div class="col-10 pt-2 ">
                    <p><span class="fw-bold">Username </span>@userhandle . XXh</p>
                </div>
                <div class="col-1 me-2 ps-0">
                    <div><span><i class="fa-solid fa-ellipsis fs-5 py-3"></i></span></div>
                </div>
            </div>
            <div class="col">
                Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
                <br>
                <div class="row pt-4">
                    <div class="col"><span><i class="fa-solid fa-comment"></i></span></div>
                    <div class="col"><span><i class="fa-solid fa-retweet"></i></span>
                    </div>
                    <div class="col"><i class="fa-solid fa-heart"></i></div>
                    <div class="col"><span><i class="fa-solid fa-bookmark"></i></span></div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mt-1 border d-flex  ">
        <div class="col-3 mt-2">
            <img class="rounded-circle" src="./asserts/images/profile.jfif" alt="" height="50px">
        </div>
        <div class="col-9 ">
            <div class="row d-flex justify-content-between align-items-center ps-1">
                <div class="col-10 pt-2 ">
                    <p><span class="fw-bold">Username </span>@userhandle . XXh</p>
                </div>
                <div class="col-1 me-2 ps-0">
                    <div><span><i class="fa-solid fa-ellipsis fs-5 py-3"></i></span></div>
                </div>
            </div>
            <div class="col">
                Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
                <br>
                <div class="row pt-4">
                    <div class="col"><span><i class="fa-solid fa-comment"></i></span></div>
                    <div class="col"><span><i class="fa-solid fa-retweet"></i></span>
                    </div>
                    <div class="col"><i class="fa-solid fa-heart"></i></div>
                    <div class="col"><span><i class="fa-solid fa-bookmark"></i></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}